.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 80px;
    height: 30px;
    margin: 20px;
}

.container {
    flex-wrap: wrap;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 100px;
    display: flex; 
    width: 80%vh;
}

.textStyle {
    margin-top: 50%;
}

.card {
    display: flex; 
    flex-direction: column;
    border: 1px solid;
    width: 100px; 
    height: 140px;
    margin: 20px;
    text-align: center;
}

.text {
    top: 30px
}